body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0%;
  padding: 0%;
  background-color: #f5f2ee; /* ocra chiaro */
}
h1 {
  margin: 0;
  font-size: 2rem;           /* dimensione del titolo */
  line-height: 1;   
 /* importante per centrare verticalmente */
}
#wheelContainer {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
  margin: 0 auto;
}

canvas#wheel {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}


#spinButton {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
}

#selectedQuestion {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

/* Header full-width e senza margini */
#headerContainer {
  display: flex;
  align-items: center;       /* centra verticalmente logo e testo */
  justify-content: center;   /* centro orizzontale */
  gap: 15px;                 /* distanza tra logo e titolo */
  margin-bottom: 30px;
  margin-top: 40px;
}

#logo {
  height: 60px;  /* puoi regolare l’altezza del logo */
  width: auto;   /* mantiene proporzioni */
}

